$browser_normalize:"";
$print_styles:"";
$INCLUDE_glyphs:"";
$INCLUDE_scaffolds:"";
$html_h_size:"";
$twbs_h_size:"";
$html_p_small_mark:"";
$text-color_classes:"";
$html_lists_w_classes:"";
$html_blockquote_w_reverse:"";
$html_abbr_address:"";
$text_helpers_classes:"";
$html_code_tags:"";
$grid_system:"";
$GENERATE_col-xs:"";
$GENERATE_col-sm:"";
$GENERATE_col-md:"";
$GENERATE_col-lg:"";
$GENERATE_col-xs-push:"";
$GENERATE_col-sm-push:"";
$GENERATE_col-md-push:"";
$GENERATE_col-lg-push:"";
$GENERATE_col-xs-pull:"";
$GENERATE_col-sm-pull:"";
$GENERATE_col-md-pull:"";
$GENERATE_col-lg-pull:"";
$GENERATE_col-xs-offset:"";
$GENERATE_col-sm-offset:"";
$GENERATE_col-md-offset:"";
$GENERATE_col-lg-offset:"";
$INCLUDE_table_classes:"";
$INCLUDE_form_classes:"";
$INCLUDE_button_classes:"";
$INCLUDE_animation_classes:"";
$INCLUDE_dropdown_classes:"";
$INCLUDE_btn-group_classes:"";
$INCLUDE_input-group_classes:"";
$INCLUDE_nav_classes:"";
$pagination:"";
$pager:"";
$INCLUDE_label_classes:"";
$jumbotron:"";
$thumbnails:"";
$INCLUDE_alert_classes:"";
$INCLUDE_progress-bar_classes:"";
$INCLUDE_media_classes:"";
$INCLUDE_list-group_classes:"";
$INCLUDE_panel_classes:"";
$wells:"";
$close:"";
$INCLUDE_modal_classes:"";
$popovers:"";
$INCLUDE_carousel_classes:"";
$INCLUDE_utility_classes:"";


// scss won't let me initilize these variables later inside the @if's!?!?
// Without this I get a sass compile error saying they are not found.
$glyphicons:"";$scaffolding:"";$tables:"";$forms:"";$buttons:"";
$component-animations:"";$dropdowns:"";$btn-groups:"";$input-groups:"";
$navs:"";$labels:"";$alerts:"";$progress-bars:"";$media:"";$list-groups:"";
$panels:"";$modals:"";$carousel:"";$utilities:"";

@mixin extend_placeholders ($names) {
	@if nth($names, 1) != "" {
		@each $name in $names {
			.#{$name} { @extend%#{$name};}
		}
	}
} 