/* By Jeff Russ https://github.com/Jeff-Russ
based on Twitter Bootstrap
~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._*/

$html_print: false;
$html_browser_support_and_bugfixers: false;
$html_body_p_html: false;
$html_button: false;
$html_optgroup: false;
$html_textarea: false;
$html_select: false;
$html_fieldset: false;
$html_legend: false;
$html_hr: false;
$html_abbr_underline: false;
$html_input: false;
$html_a_tag: false;
$html_strong_b_dfn_abbr: false;
$html_sub_sup_mark_address: false;
$html_img_figure: false;
$html_img_kbd: false;
$html_pre_code_samp_pre-scrollable: false;
$html_blockquote_and_blockquote-reverse: false;
$html_tables: false;
$html_h_tags: false;
$html_small: false;
$html_tags_use_twbs_font-sizes: false;
$html_tags_follow_twbs_colors: false;
$html_ul_ol_dl_dt: false;
$twbs_h: false;
$twbs_small: false;
$html_mark__twbs_mark: false;
$text-HELPERS: false;
$page-header__initialism__lead: false;
$text-COLOR_for_html_a_tags: false;
$text-COLOR: false;

$GRIDS: false;
$THEME: false;

$affix: false;
$alert: false;
$alert-danger: false;
$alert-dismissable: false;
$alert-dismissible: false;
$alert-info: false;
$alert-success: false;
$alert-warning: false;
$badge: false;
$breadcrumb: false;
$btn: false;
$btn-block: false;
$btn-danger: false;
$btn-default: false;
$btn-group: false;
$btn-group-justified: false;
$btn-group-vertical: false;
$btn-info: false;
$btn-lg: false;
$btn-link: false;
$btn-primary: false;
$btn-sm: false;
$btn-success: false;
$btn-toolbar: false;
$btn-warning: false;
$btn-xs: false;
$caret: false;
$carousel: false;
$carousel-caption: false;
$carousel-control: false;
$carousel-indicators: false;
$carousel-inner: false;
$center-block: false;
$checkbox: false;
$checkbox-inline: false;
$clearfix: false;
$close: false;
$collapse: false;
$collapsing: false;
$dropdown: false;
$dropdown-backdrop: false;
$dropdown-header: false;
$dropdown-menu: false;
$dropdown-menu-left: false;
$dropdown-menu-right: false;
$dropdown-toggle: false;
$dropup: false;
$embed-responsive: false;
$embed-responsive-16by9: false;
$embed-responsive-4by3: false;
$fade: false;
$form-control: false;
$form-control-feedback: false;
$form-control-static: false;
$form-group: false;
$form-group-lg: false;
$form-group-sm: false;
$form-horizontal: false;
$form-inline: false;
$glyphicon: false;
$has-error: false;
$has-feedback: false;
$has-success: false;
$has-warning: false;
$help-block: false;
$hidden: false;
$hidden-lg: false;
$hidden-md: false;
$hidden-print: false;
$hidden-sm: false;
$hidden-xs: false;
$hide: false;
$img-circle: false;
$img-responsive: false;
$img-rounded: false;
$img-thumbnail: false;
$input-group: false;
$input-group-addon: false;
$input-group-btn: false;
$input-group-lg: false;
$input-group-sm: false;
$input-lg: false;
$input-sm: false;
$invisible: false;
$jumbotron: false;
$label: false;
$label-danger: false;
$label-default: false;
$label-info: false;
$label-primary: false;
$label-success: false;
$label-warning: false;
$list-group: false;
$list-group-item: false;
$list-group-item-danger: false;
$list-group-item-heading: false;
$list-group-item-info: false;
$list-group-item-success: false;
$list-group-item-text: false;
$list-group-item-warning: false;
$media: false;
$media-body: false;
$media-bottom: false;
$media-heading: false;
$media-left: false;
$media-list: false;
$media-middle: false;
$media-object: false;
$media-right: false;
$modal: false;
$modal-backdrop: false;
$modal-body: false;
$modal-content: false;
$modal-dialog: false;
$modal-footer: false;
$modal-header: false;
$modal-lg: false;
$modal-open: false;
$modal-scrollbar-measure: false;
$modal-sm: false;
$modal-title: false;
$nav: false;
$nav-justified: false;
$nav-pills: false;
$nav-stacked: false;
$nav-tabs: false;
$nav-tabs-justified: false;
$navbar: false;
$navbar-brand: false;
$navbar-btn: false;
$navbar-collapse: false;
$navbar-default: false;
$navbar-fixed-bottom: false;
$navbar-fixed-top: false;
$navbar-form: false;
$navbar-header: false;
$navbar-inverse: false;
$navbar-left: false;
$navbar-nav: false;
$navbar-right: false;
$navbar-static-top: false;
$navbar-text: false;
$navbar-toggle: false;
$open: false;
$pager: false;
$pagination: false;
$pagination-lg: false;
$pagination-sm: false;
$panel: false;
$panel-body: false;
$panel-danger: false;
$panel-default: false;
$panel-footer: false;
$panel-group: false;
$panel-heading: false;
$panel-info: false;
$panel-primary: false;
$panel-success: false;
$panel-title: false;
$panel-warning: false;
$popover: false;
$popover-content: false;
$popover-title: false;
$progress: false;
$progress-bar: false;
$progress-bar-danger: false;
$progress-bar-info: false;
$progress-bar-success: false;
$progress-bar-warning: false;
$progress-striped: false;
$pull-left: false;
$pull-right: false;
$radio: false;
$radio-inline: false;
$show: false;
$sr-only: false;
$tab-content: false;
$table: false;
$table-bordered: false;
$table-condensed: false;
$table-hover: false;
$table-responsive: false;
$table-striped: false;
$text-hide: false;
$thumbnail: false;
$tooltip: false;
$tooltip-arrow: false;
$tooltip-inner: false;
$visible-lg: false;
$visible-lg-block: false;
$visible-lg-inline: false;
$visible-lg-inline-block: false;
$visible-md: false;
$visible-md-block: false;
$visible-md-inline: false;
$visible-md-inline-block: false;
$visible-print: false;
$visible-print-block: false;
$visible-print-inline: false;
$visible-print-inline-block: false;
$visible-sm: false;
$visible-sm-block: false;
$visible-sm-inline: false;
$visible-sm-inline-block: false;
$visible-xs: false;
$visible-xs-block: false;
$visible-xs-inline: false;
$visible-xs-inline-block: false;
$well: false;
$well-lg: false;
$well-sm: false;