/* By Jeff Russ https://github.com/Jeff-Russ
based on Twitter Bootstrap
~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._*/

@if $html_print == true {
	@media print {
		*, *:before, *:after { background: transparent !important; color: #000 !important;
			-webkit-box-shadow: none !important; box-shadow: none !important; text-shadow: none !important; }
		a, a:visited { text-decoration: underline; }
		a[href]:after     { content: " (" attr(href) ")"; }
		abbr[title]:after { content: " (" attr(title) ")"; }
		a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
		pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
		thead { display: table-header-group; }
		tr, img { page-break-inside: avoid; }
		img { max-width: 100% !important; }
		p, h2, h3 { orphans: 3; widows: 3; }
		h2, h3 { page-break-after: avoid; }
		.btn > .caret, .dropup > .btn > .caret { border-top-color: #000 !important; }}
}
@if $html_browser_support_and_bugfixers == true {
	html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
	* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
		display: block; }
	audio, canvas, progress, video {
		display: inline-block; vertical-align: baseline; }
	audio:not([controls]) { display: none; height: 0; }
	[hidden], template { display: none; }
	hr { -webkit-box-sizing: content-box;  -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
	svg:not(:root) { overflow: hidden; } // for ie9
	button   { text-transform: none; } // text capitalize bug fix
	fieldset { text-transform: none; } // text capitalize bug fix

	.list-unstyled { padding-left: 0; list-style: none; }
	.list-inline { // IE6 bug fix
		padding-left: 0; list-style: none; margin-left: -5px; 
		& > li { display: inline-block; padding-left: 5px; padding-right: 5px; }}
	// Horizontal description lists
	// Defaults to being stacked without any of the below styles applied, until the
	// grid breakpoint is reached (default of ~768px).
	.dl-horizontal {
		@media (min-width: 768px) { 
			dt { float: left; width: 160px; clear: left; text-align: right;
				 overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
			dd { margin-left: 180px; }}}
}
@if $html_body_p_html == true {
	html { font-family: sans-serif; }
	body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
		line-height: 1.42857143; }
	p { margin: 0 0 10px; }
}
@if $html_button == true {
	button { color: inherit; font: inherit; margin: 0; font-family: inherit; line-height: inherit;
		-webkit-appearance: button; cursor: pointer; overflow: visible; 
		&::-moz-focus-inner { border: 0; padding: 0; }
		&[disabled] { cursor: default; }}
}
@if $html_optgroup == true { optgroup { color: inherit; font: inherit; margin: 0; font-weight: bold; }}
@if $html_textarea == true { textarea { color: inherit; font: inherit; margin: 0; font-family: inherit; line-height: inherit; overflow: auto; }}
@if $html_select == true   { select   { color: inherit; font: inherit; margin: 0; font-family: inherit; line-height: inherit; }}
@if $html_fieldset == true { fieldset { margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
@if $html_legend == true   { legend   { border: 0; padding: 0; }
@if $html_hr == true       { hr       { margin-top: 20px; margin-bottom: 20px; border: 0; }}
@if $html_abbr_underline == true { abbr[title] { border-bottom: 1px dotted; }}

@if $html_input == true {
	input { color: inherit; font: inherit; font-family: inherit;line-height: inherit; margin: 0;
		&::-moz-focus-inner {
			border: 0; padding: 0; }
		&[type="checkbox"],
		&[type="radio"] {
			-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; }
		&[type="number"]::-webkit-inner-spin-button, &[type="number"]::-webkit-outer-spin-button {
			height: auto; }
		&[type="search"] {
			-webkit-appearance: textfield; -webkit-box-sizing: content-box;  -moz-box-sizing: content-box; box-sizing: content-box; }
		&[type="search"]::-webkit-search-cancel-button, &[type="search"]::-webkit-search-decoration {
			-webkit-appearance: none; }
		&[type="reset"],
		&[type="submit"] {
			-webkit-appearance: button; cursor: pointer; }}
	html input[type="button"] { -webkit-appearance: button; cursor: pointer; }
	html input[disabled] { cursor: default; }
}
@if $html_a_tag == true {
	a {text-decoration: none;
		&:active, &:hover { outline: 0; }
		&:hover, &:focus  { text-decoration: underline; }
		&:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }}
}
@if $html_strong_b_dfn_abbr == true {
	b, strong { font-weight: bold; }
	dfn { font-style: italic; }
	abbr[title], abbr[data-original-title] { cursor: help; }
}
@if $html_sub_sup_mark_address == true {
	sub, sup { line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
	address { margin-bottom: 20px; font-style: normal; line-height: 1.42857143; }
}
@if $html_img_figure == true {
	figure { margin: 0; border: 0; margin: 1em 40px; }
	img { vertical-align: middle; }
}
@if $html_img_kbd == true {
	kbd     { padding: 2px 4px; border-radius: 3px; }
	kbd kbd { padding: 0;  font-weight: bold; -webkit-box-shadow: none; box-shadow: none; }
	kbd { font-family: monospace, monospace; }
	kbd { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
}
@if $html_pre_code_samp_pre-scrollable == true {
	pre { overflow: auto; }
	code, pre, samp { font-family: monospace, monospace;}
	code, pre, samp { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
	code { padding: 2px 4px; border-radius: 4px; }
	pre { display: block; padding: 9.5px; margin: 0 0 10px; line-height: 1.42857143; 
		word-break: break-all; word-wrap: break-word; border-radius: 4px; }
	pre code { color: inherit; padding: 0;  white-space: pre-wrap; border-radius: 0; }
	.pre-scrollable { max-height: 340px; overflow-y: scroll; }
}
// Blockquotes
@if $html_blockquote_and_blockquote-reverse == true {
	blockquote { padding: 10px 20px; margin: 0 0 20px;
		& p:last-child, & ul:last-child, & ol:last-child { margin-bottom: 0; }
		& footer, & small, & .small { display: block; line-height: 1.42857143; }
		& footer:before, & small:before, & .small:before { content: '\2014 \00A0'; }}
	// Opposite alignment of blockquote
	.blockquote-reverse { 
		padding-right: 15px; padding-left: 0; border-right: 5px solid #eeeeee; border-left: 0; text-align: right;
		& footer:before, & small:before, & .small:before { content: ''; }
		& footer:after, & small:after, & .small:after { content: '\00A0 \2014'; }}
}
@if $html_tables == true {
	table { border-collapse: collapse; border-spacing: 0;  }
	caption { padding-top: 8px; padding-bottom: 8px; text-align: left; }
	th { text-align: left; }
	td, th { padding: 0; }
}
@if $html_h_tags == true {
	// h1 { font-size: 2em; margin: 0.67em 0; }
	h1, h2, h3, h4, h5, h6 {
		font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
	h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
	h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
	h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small { font-weight: normal; line-height: 1; }
}
@if $html_small == true {
	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
		font-weight: normal; line-height: 1; }
	.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
		font-weight: normal; line-height: 1; }
}
@if $html_tags_use_twbs_font-sizes == true { 
	h1   { font-size: 36px; }
	h2   { font-size: 30px; }
	h3   { font-size: 24px; }
	h4   { font-size: 18px; }
	h5   { font-size: 14px; }
	body { font-size: 14px; }
	pre  { font-size: 13px; } // also seen: inherit
	h6   { font-size: 12px; }
	small{ font-size: 85%; }
	html { font-size: 10px; }
	h1 small, h2 small, h3 small { font-size: 65%; }
	h4 small, h5 small, h6 small { font-size: 75%; }
	.h1 small, .h2 small, .h3 small, h1 .small, h2 .small, h3 .small { font-size: 65%; }
	.h4 small, .h5 small, .h6 small, h4 .small, h5 .small, h6 .small { font-size: 75%; }
	blockquote { font-size: 17.5px; 
		& footer, & small, & .small { font-size: 80%; }}
	button   { font-size: inherit; }
	textarea { font-size: inherit; }
	select   { font-size: inherit; }
	input    { font-size: inherit; }
	pre code { font-size: inherit; }
	kbd kbd  { font-size: 100%; }
	kbd      { font-size: 90%;  }
	code     { font-size: 90%;  }
	sub, sup { font-size: 75%;  }
}
@if $html_tags_follow_twbs_colors == true {
	body { color: #333333; background-color: #ffffff; }
	mark { color: #000;    background:       #ff0;    }
	kbd  { color: #ffffff; background-color: #333333; }
	code { color: #c7254e; background-color: #f9f2f4; }
	pre  { color: #333333; background-color: #f5f5f5; border: 1px solid #cccccc;}
	pre code { background-color: transparent; }
	table    { background-color: transparent; }
	caption  { color: #777777;  }
	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, h1 .small, h2 .small, h3 .small, h4 .small, 
	h5 .small, h6 .small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small { color: #777777; }
	mark { background-color: #fcf8e3; }
	blockquote { border-left: 5px solid #eeeeee;
		& footer, & small, & .small { color: #777777; }}
	fieldset   { border: 1px solid #c0c0c0; }
	hr     { border-top: 1px solid #eeeeee; }}
	abbr[title], abbr[data-original-title] { cursor: help; border-bottom: 1px dotted #777777; }
		kbd { padding: 2px 4px; border-radius: 3px;
			-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
}
@if $html_ul_ol_dl_dt == true {
	ul, ol { margin-top: 0; margin-bottom: 10px; }
	ul ul, ol ul, ul ol, ol ol { margin-bottom: 0; }
	dl { margin-top: 0; margin-bottom: 20px; }
	dt,dd { line-height: 1.42857143; }
	dt { font-weight: bold; }
	dd { margin-left: 0; }
}
@if $html_mark__twbs_mark == true {
	mark { padding: .2em; }
	.mark { background-color: #fcf8e3; padding: .2em; }
}
@if $text-COLOR_for_html_a_tags == true {
	a { background-color: transparent; color: #337ab7;
		&:hover, &:focus { color: #23527c; }}
	a.text-primary:hover, a.text-primary:focus { color: #286090; }
	a.text-success:hover, a.text-success:focus { color: #2b542c; }
	a.text-info:hover,    a.text-info:focus    { color: #245269; }
	a.text-warning:hover, a.text-warning:focus { color: #66512c; }
	a.text-danger:hover,  a.text-danger:focus  { color: #843534; }
	a.bg-primary:hover,   a.bg-primary:focus   { background-color: #286090; }
	a.bg-success:hover,   a.bg-success:focus   { background-color: #c1e2b3; }
	a.bg-info:hover,      a.bg-info:focus      { background-color: #afd9ee; }
	a.bg-warning:hover,   a.bg-warning:focus   { background-color: #f7ecb5; }
	a.bg-danger:hover,    a.bg-danger:focus    { background-color: #e4b9b9; }
}
@if $clearfix == true {
	.clearfix:before, .clearfix:after,
	.dl-horizontal dd:before, .dl-horizontal dd:after,
	.container:before, .container:after,
	.container-fluid:before, .container-fluid:after,
	.row:before, .row:after,
	.form-horizontal .form-group:before, .form-horizontal .form-group:after,
	.btn-toolbar:before, .btn-toolbar:after,
	.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after,
	.nav:before, .nav:after,
	.navbar:before, .navbar:after,
	.navbar-header:before, .navbar-header:after,
	.navbar-collapse:before, .navbar-collapse:after,
	.pager:before, .pager:after,
	.panel-body:before, .panel-body:after,
	.modal-header:before, .modal-header:after,
	.modal-footer:before, .modal-footer:after { content: " "; display: table; }

	.clearfix:after,
	.dl-horizontal dd:after,
	.container:after, .container-fluid:after,
	.row:after,
	.form-horizontal .form-group:after,
	.btn-toolbar:after, .btn-group-vertical > .btn-group:after,
	.nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after,
	.pager:after,
	.panel-body:after,
	.modal-header:after, .modal-footer:after { clear: both; }
}