
$primary: #337ab7;
$success: #3c763d;
$info:    #31708f;
$warning: #8a6d3b;
$danger:  #a94442;
$bg-primary: #337ab7;
$bg-success: #dff0d8;
$bg-info:    #d9edf7;
$bg-warning: #fcf8e3;
$bg-danger:  #f2dede;

$default-bg: #ffffff; $default-bord: #cccccc; $default-focus-bg: #e6e6e6;
$primary-bg: #337ab7; $primary-bord: #2e6da4; $primary-focus-bg: #286090;
$success-bg: #5cb85c; $success-bord: #4cae4c; $success-focus-bg: #449d44;
$info-bg:    #5bc0de; $info-bord:    #46b8da; $info-focus-bg:    #31b0d5;
$warning-bg: #f0ad4e; $warning-bord: #eea236; $warning-focus-bg: #ec971f;
$danger-bg:  #d9534f; $danger-bord:  #d43f3a; $danger-focus-bg:  #c9302c;


%btn-default &:focus, &.focus { color: #333333; background-color: #e6e6e6; border-color: #8c8c8c; }
	&:hover {          color: #333333; background-color: #e6e6e6; border-color: #adadad; }
		{              color: #333333; background-color: #e6e6e6; border-color: #adadad; }
		{              color: #333333; background-color: #d4d4d4; border-color: #8c8c8c; }
		{ background-color: #ffffff; border-color: #cccccc; }
	& .badge background-color: #333333; }
}
%btn-primary &:focus, &.focus { color: #ffffff; background-color: #286090; border-color: #122b40; }
	&:hover {          color: #ffffff; background-color: #286090; border-color: #204d74; }
		{              color: #ffffff; background-color: #286090; border-color: #204d74; }
		{              color: #ffffff; background-color: #204d74; border-color: #122b40; }

		{ background-color: #337ab7; border-color: #2e6da4; }
	& .badge {         color: #337ab7; background-color: #ffffff; }
}
%btn-success &:focus, &.focus { color: #ffffff; background-color: #449d44; border-color: #255625; }
	&:hover {          color: #ffffff; background-color: #449d44; border-color: #398439; }
		{              color: #ffffff; background-color: #449d44; border-color: #398439; }
		{              color: #ffffff; background-color: #398439; border-color: #255625; }

		{ background-color: #5cb85c; border-color: #4cae4c; }
	& .badge {         color: #5cb85c; background-color: #ffffff; }
}
%btn-info {&:focus, &.focus { color: #ffffff; background-color: #31b0d5; border-color: #1b6d85; }
	&:hover {          color: #ffffff; background-color: #31b0d5; border-color: #269abc; }

		{              color: #ffffff; background-color: #31b0d5; border-color: #269abc; }
		{              color: #ffffff; background-color: #269abc; border-color: #1b6d85; }

		{ background-color: #5bc0de; border-color: #46b8da; }
	& .badge {         color: #5bc0de; background-color: #ffffff; }
}
%btn-warning &:focus, &.focus { color: #ffffff; background-color: #ec971f; border-color: #985f0d;}
	&:hover {          color: #ffffff; background-color: #ec971f; border-color: #d58512; }

		{              color: #ffffff; background-color: #ec971f; border-color: #d58512; }
		{              color: #ffffff; background-color: #d58512; border-color: #985f0d; }

		{ background-color: #f0ad4e; border-color: #eea236; }
	& .badge {         color: #f0ad4e; background-color: #ffffff; }
}
%btn-danger { &:focus, &.focus { color: #ffffff; background-color: #c9302c; border-color: #761c19; }
	&:hover {          color: #ffffff; background-color: #c9302c; border-color: #ac2925; }

		{              color: #ffffff; background-color: #c9302c; border-color: #ac2925; }

		{              color: #ffffff; background-color: #ac2925; border-color: #761c19; }

		{ background-color: #d9534f; border-color: #d43f3a; }
	& .badge {         color: #d9534f; background-color: #ffffff; }
}
