// run $ sass _bootstrap.scss bootstrap.css

// each value can be `true` or `false`. For variables beginning with `INCLUDE` or `GENERATE`,
// `true` is the same as `all` and false is the same as `none`.
// These variables can also accept a list of the class names without the dot before.
// In this case commas or spaces can be used as delimiters and quotes are optional.
// variables starting with `$GENERATE_col` accept lists of integers, typically 1 - 12.

//######### _1_ RESETS & DEPENDENCIES ##########################################

// Normalize - no css classes here, only HTML tags are targeted.
$browser_normalize: false;

//========= Printing ==========================================================
$print_styles: false;
//	targets:		<h1> <small> <sub> <sup> <fieldset> <thead> <img>
//	placeholds:		%navbar %btn %dropup %btn %caret %label %table %table-bordered 

//========= Glyphicons =========================================================
$INCLUDE_glyphs: none;
//	type any of:   glyphicon-asterisk glyphicon-plus glyphicon-euro glyphicon-eur glyphicon-minus glyphicon-cloud glyphicon-envelope glyphicon-pencil  glyphicon-glass glyphicon-music glyphicon-search glyphicon-heart glyphicon-star glyphicon-star-empty glyphicon-user glyphicon-film  glyphicon-th-large glyphicon-th glyphicon-th-list glyphicon-ok glyphicon-remove glyphicon-zoom-in glyphicon-zoom-out glyphicon-off  glyphicon-signal glyphicon-cog glyphicon-trash glyphicon-home glyphicon-file glyphicon-time glyphicon-road glyphicon-download-alt glyphicon-download 
//				glyphicon-upload glyphicon-inbox glyphicon-play-circle glyphicon-repeat glyphicon-refresh glyphicon-list-alt glyphicon-lock glyphicon-flag  glyphicon-headphones glyphicon-volume-off glyphicon-volume-down glyphicon-volume-up glyphicon-qrcode glyphicon-barcode glyphicon-tag  glyphicon-tags glyphicon-book glyphicon-bookmark glyphicon-print glyphicon-camera glyphicon-font glyphicon-bold glyphicon-italic  glyphicon-text-height glyphicon-text-width glyphicon-align-left glyphicon-align-center glyphicon-align-right glyphicon-align-justify 
//				glyphicon-list glyphicon-indent-left glyphicon-indent-right glyphicon-facetime-video glyphicon-picture glyphicon-map-marker  glyphicon-adjust glyphicon-tint glyphicon-edit glyphicon-share glyphicon-check glyphicon-move glyphicon-step-backward glyphicon-fast-backward  glyphicon-backward glyphicon-play glyphicon-pause glyphicon-stop glyphicon-forward glyphicon-fast-forward glyphicon-step-forward  glyphicon-eject glyphicon-chevron-left glyphicon-chevron-right glyphicon-plus-sign glyphicon-minus-sign glyphicon-remove-sign 
//				glyphicon-ok-sign glyphicon-question-sign glyphicon-info-sign glyphicon-screenshot glyphicon-remove-circle glyphicon-ok-circle  glyphicon-ban-circle glyphicon-arrow-left glyphicon-arrow-right glyphicon-arrow-up glyphicon-arrow-down glyphicon-share-alt  glyphicon-resize-full glyphicon-resize-small glyphicon-exclamation-sign glyphicon-gift glyphicon-leaf glyphicon-fire glyphicon-eye-open  glyphicon-eye-close glyphicon-warning-sign glyphicon-plane glyphicon-calendar glyphicon-random glyphicon-comment glyphicon-magnet glyphicon-chevron-up 
//				glyphicon-chevron-down glyphicon-retweet glyphicon-shopping-cart glyphicon-folder-close glyphicon-folder-open glyphicon-resize-vertical  glyphicon-resize-horizontal glyphicon-hdd glyphicon-bullhorn glyphicon-bell glyphicon-certificate glyphicon-thumbs-up glyphicon-thumbs-down  glyphicon-hand-right glyphicon-hand-left glyphicon-hand-up glyphicon-hand-down glyphicon-circle-arrow-right glyphicon-circle-arrow-left  glyphicon-circle-arrow-up glyphicon-circle-arrow-down glyphicon-globe glyphicon-wrench glyphicon-tasks glyphicon-filter glyphicon-briefcase 
//				glyphicon-fullscreen glyphicon-dashboard glyphicon-paperclip glyphicon-heart-empty glyphicon-link glyphicon-phone glyphicon-pushpin  glyphicon-usd glyphicon-gbp glyphicon-sort glyphicon-sort-by-alphabet glyphicon-sort-by-alphabet-alt glyphicon-sort-by-order  glyphicon-sort-by-order-alt glyphicon-sort-by-attributes glyphicon-sort-by-attributes-alt glyphicon-unchecked glyphicon-expand  glyphicon-collapse-down glyphicon-collapse-up glyphicon-log-in glyphicon-flash glyphicon-log-out glyphicon-new-window glyphicon-record glyphicon-save 
//				glyphicon-open glyphicon-saved glyphicon-import glyphicon-export glyphicon-send glyphicon-floppy-disk glyphicon-floppy-saved  glyphicon-floppy-remove glyphicon-floppy-save glyphicon-floppy-open glyphicon-credit-card glyphicon-transfer glyphicon-cutlery glyphicon-header  glyphicon-compressed glyphicon-earphone glyphicon-phone-alt glyphicon-tower glyphicon-stats glyphicon-sd-video glyphicon-hd-video glyphicon-subtitles  glyphicon-sound-stereo glyphicon-sound-dolby glyphicon-sound-5-1 glyphicon-sound-6-1 glyphicon-sound-7-1 glyphicon-copyright-mark 
//				glyphicon-registration-mark glyphicon-cloud-download glyphicon-cloud-upload glyphicon-tree-conifer glyphicon-tree-deciduous glyphicon-cd  glyphicon-save-file glyphicon-open-file glyphicon-level-up glyphicon-copy glyphicon-paste glyphicon-alert glyphicon-equalizer glyphicon-king  glyphicon-queen glyphicon-pawn glyphicon-bishop glyphicon-knight glyphicon-baby-formula glyphicon-tent glyphicon-blackboard glyphicon-bed  glyphicon-apple glyphicon-erase glyphicon-hourglass glyphicon-lamp glyphicon-duplicate glyphicon-piggy-bank glyphicon-scissors glyphicon-bitcoin 
//				glyphicon-btc glyphicon-xbt glyphicon-yen glyphicon-jpy glyphicon-ruble glyphicon-rub glyphicon-scale glyphicon-ice-lolly glyphicon-ice-lolly-tasted  glyphicon-education glyphicon-option-horizontal glyphicon-option-vertical glyphicon-menu-hamburger glyphicon-modal-window glyphicon-oil glyphicon-grain  glyphicon-sunglasses glyphicon-text-size glyphicon-text-color glyphicon-text-background glyphicon-object-align-top  glyphicon-object-align-bottom glyphicon-object-align-horizontal glyphicon-object-align-left glyphicon-object-align-vertical 
//				glyphicon-object-align-right glyphicon-triangle-right glyphicon-triangle-left glyphicon-triangle-bottom glyphicon-triangle-top glyphicon-console  glyphicon-superscript glyphicon-subscript glyphicon-menu-left glyphicon-menu-right glyphicon-menu-down glyphicon-menu-up;


//######### _2_ CORE CSS #######################################################

//========= Scaffolding ========================================================
$INCLUDE_scaffolds: none;
//	type any of:	img-responsive img-rounded img-thumbnail,img-circle
//					sr-only sr-only-focusable .... `false` or `all` for all
//	if non-false:	*  *:before *:after <html> <body> <input> <button>
//					<select> <textarea> <a> :hover> :focus> <figure> <img> <hr>

//========= Typography =========================================================
$html_h_size: false;
//	targets:		<h1> <h2> <h3> <h4> <h5> <h6> ...and nested <small> in each
$twbs_h_size: false;
//	targets:		.h1 .h2 .h3 .h4 .h5 .h6 and a nested .small in each
$html_p_small_mark: false;
//	targets:		<p> <small> <mark> .small .mark
$text-color_classes: false;
//	targets:		.text-primary .text-success .text-info .text-warning .text-danger
//					.bg-primary .bg-success .bg-info .bg-warning .bg-danger
$html_lists_w_classes: false;
//	targets:		<ul> <ol> <dl> <dt> <dd>
//					list-unstyled .list-inline .dl-horizontal
$html_blockquote_w_reverse: false;
//	targets:		<p> <ul> <ol> <footer> <small> <blockquote> 
//					.small .blockquote-reverse <blockquote>.pull-right
$html_abbr_address: false;
//	targets:		<abbr>[title] <abbr>[data-original-title] <address>
$text_helpers_classes: false;
//	targets:		.text-muted .bg-primary .page-header .lead .text-left 
//					.text-right .text-center .text-justify .text-nowrap 
//					.text-lowercase .text-uppercase .text-capitalize .initialism

//========= Code ===============================================================
$html_code_tags: false;
//	targets: code kbd pre samp .pre-scrollable

//===== _3_ Grids ==============================================================
$grid_system: false;
//	creates:		.container .container-fluid .row
	
$GENERATE_col-xs: none;
$GENERATE_col-sm: none;
$GENERATE_col-md: none;
$GENERATE_col-lg: none;
$GENERATE_col-xs-push: none;
$GENERATE_col-sm-push: none;
$GENERATE_col-md-push: none;
$GENERATE_col-lg-push: none;
$GENERATE_col-xs-pull: none;
$GENERATE_col-sm-pull: none;
$GENERATE_col-md-pull: none;
$GENERATE_col-lg-pull: none;
$GENERATE_col-xs-offset: none;
$GENERATE_col-sm-offset: none;
$GENERATE_col-md-offset: none;
$GENERATE_col-lg-offset: none;

//========= Tables =============================================================
$INCLUDE_table_classes:  none;
//	type any of:	table-condensed table-bordered table-striped
//					table-hover table-responsive
//	if non-false:	.table
	
//========= Forms ==============================================================
$INCLUDE_form_classes: help-block;
//	type any of:	form-control form-control-feedback form-control-static
//					form-group form-group-lg form-group-sm form-horizontal 
//					form-inline checkbox checkbox-inline radio radio-inline
//					control-label help-block input-lg input-sm
//					has-error has-feedback has-success has-warning
//					input-group-btn input-group-lg input-group-sm
//					input-group input-group-addon 
//	targets:		<input> <fieldset> <label> <select> <output> <textarea> 

//========= Buttons ============================================================
$INCLUDE_button_classes: none;
//	type any of:	btn btn-default btn-block btn-link btn-lg btn-sm btn-xs 
//					btn-primary btn-success btn-info btn-warning btn-danger
//	targets:		<fieldset> <a>

//===== _5_ Component Animations ===============================================
$INCLUDE_animation_classes: none;
//	type any of:	fade collapse collapsing
//	targets:		<tbody> <tr>

//===== _6_ Dropdowns ==========================================================
$INCLUDE_dropdown_classes: none;
//	type any of:	caret dropup dropdown dropdown-toggle divider open pull-right
//					dropdown-menu dropdown-menu-right dropdown-menu-left
//					dropdown-header dropdown-backdrop;

//===== _7_ Button Groups ======================================================
$INCLUDE_btn-group_classes: none;
//	type any of:	btn btn-group btn-group-justified btn-group-xs btn-group-lg 
//					btn-group-sm btn-group-vertical btn-xs btn-sm btn-lg btn-toolbar 
//					caret dropdown-menu dropdown-toggle dropup input-group

//===== _8_ Input Groups =======================================================
$INCLUDE_input-group_classes: none;
//	type any of:	input-group input-group-lg input-group-sm 
//					input-group-addon input-group-btn

//===== _9_ Navs ===============================================================
$INCLUDE_nav_classes: none;
//	type any of:	active disabled divider icon-bar nav nav-divider  
//					nav-justified nav-pills nav-stacked nav-tabs-justified
//					navbar navbar-brand navbar-btn navbar-collapse 
//					navbar-default navbar-fixed-bottom navbar-fixed-top
//					navbar-form navbar-header navbar-inverse navbar-left
//					navbar-link navbar-nav navbar-right navbar-static-top 
//					navbar-text navbar-toggle open tab-content tab-pane;

//######### _10_ COMPONENTS ####################################################

$breadcrumbs: false;// targets: .breadcrumb 
$pagination: false; // targets: .pagination 
$pager: false; // targets: .pager .next .previous .disabled

//===== __ Labels ==============================================================
$INCLUDE_label_classes: none;
//	type any of:	label label-default label-primary label-success 
//					label-info label-warning label-danger

$badges: false; // targets: .badge a.badge
$jumbotron: false; // targets: .jumbotron
$thumbnails: false; // targets: .thumbnail a.thumbnail a.thumbnail.active

//===== __ Alerts ==============================================================
$INCLUDE_alert_classes: none;
//	type any of:	alert alert-dismissable alert-dismissible 
//					alert-success alert-info alert-warning alert-danger

//===== _12_ Progress Bar ======================================================
$INCLUDE_progress-bar_classes: none;
//	type any of:	progress progress-bar progress-striped progress-bar-success 
//					progress-bar-info progress-bar-warning progress-bar-danger

//===== _13_ Media Classes =====================================================
$INCLUDE_media_classes: none;
//	type any of:	media media-body media-object media-right media-left 
//					media-middle media-bottom media-heading media-list

//===== _14_ List Groups =======================================================
$INCLUDE_list-group_classes: none;
//	type any of:	list-group list-group-item list-group-item-heading
//					list-group-item-text

//===== _15_ Panels ============================================================
$INCLUDE_panel_classes: none;
//	type any of:	panel panel-default panel-collapse panel-group panel-heading
//					panel-title panel-body panel-footer panel-primary
//					panel-success panel-info panel-warning panel-danger

$embed-responsive: false; // targets: .embed-responsive 
//							.embed-responsive-16by9 .embed-responsive-4by3
$wells: false; // targets: .well .well-lg .well-sm
$close: false; // targets: .close button.close

//##### COMPONENTS w/ JAVASCRIPT ###############################################

//===== _16_ Modals ============================================================
$INCLUDE_modal_classes: none;
//	type any of:	modal modal-sm modal-lg modal-open modal-dialog modal-header
//					modal-title modal-body modal-content modal-footer
//					modal-backdrop modal-scrollbar-measure

$tooltip: false; // targets: .tooltip .tooltip-inner .tooltip-arrow
$popovers: false; // targets: .popover .popover-title .popover-content
//					.popover.top .popover.right .popover.bottom .popover.left

//===== _17_ Image Carousels ===================================================
$INCLUDE_carousel_classes: none;
//	type any of:	carousel carousel-inner carousel-caption carousel-control 
//					carousel-indicators item active next prev next icon-prev
//					icon-next glyphicon-chevron-left glyphicon-chevron-right

//===== _18_ Utility Classes ===================================================
$INCLUDE_utility_classes: none;
//	type any of:	hide show invisible text-hide affix center-block clearfix
//					pull-left pull-right visible-print-block
//					visible-print-inline visible-print-inline-block 
//					visible-lg-block visible-lg-inline visible-lg-inline-block 
//					visible-md-block visible-md-inline visible-md-inline-block 
//					visible-sm-block visible-sm-inline visible-sm-inline-block 
//					visible-xs-block visible-xs-inline visible-xs-inline-block;

//########## THEME #############################################################

@import "scss/generate/run_all";