// _mixin-1.scss

//// Utilities /////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// _hide-text.scss =============================================================
// CSS image replacement
//  Heads up! v3 launched with only `.hide-text()`, but per our pattern for
//  mixins being reused as classes with the same name, this doesn't hold up. As
//  of v3.0.1 we have added `.text-hide()` and deprecated `.hide-text()`.
//  Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757 

// Deprecated as of v3.0.1 (has been removed in v4)
@mixin hide-text() { font: 0/0 a; color: transparent; text-shadow: none;
  background-color: transparent; border: 0;
}
@mixin text-hide() { @include hide-text; } // New mixin to use as of v3.0.1

// _opacity.scss ===============================================================
@mixin opacity($opacity) { opacity: $opacity;
  $opacity-ie: ($opacity * 100); filter: alpha(opacity=$opacity-ie); // IE8 filter
}
// _image.scss  =============================================================
// --- Responsive image - Keep images from scaling beyond the width of their parents.
@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
// --- Retina image-  Short retina mixin for setting background-image and -size. 
//     Note that the spelling of `min--moz-device-pixel-ratio` is intentional.
@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
  background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$file-1x}"), "#{$file-1x}"));

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$file-2x}"), "#{$file-2x}"));
    background-size: $width-1x $height-1x;
  }
}
// _labels.scss ================================================================
@mixin label-variant($color) { background-color: $color;
  &[href] {
    &:hover, &:focus { background-color: darken($color, 10%); } }
}
// _reset-filter.scss ==========================================================
//  Reset filters for IE - When you need to remove a gradient background, do not 
//  forget to use this to reset the IE filter for IE9 and below.
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
// _resize.scss ================================================================
//  Resize anything 
@mixin resizable($direction) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
}
// _responsive-visibility.scss =================================================
//  Responsive utilities 
// [converter] $parent hack 
@mixin responsive-visibility($parent) {
  #{$parent} { display: block !important; }
  table#{$parent}  { display: table !important; }
  tr#{$parent}     { display: table-row !important; }
  th#{$parent},
  td#{$parent}     { display: table-cell !important; }
}
// [converter] $parent hack
@mixin responsive-invisibility($parent) {
  #{$parent}       { display: none !important;}
}
// _size.scss ==================================================================
//  Sizing shortcuts
@mixin size($width, $height) { width: $width; height: $height; }
@mixin square($size) { @include size($size, $size); }

// _tab-focus.scss =============================================================
//  WebKit-style focus 
@mixin tab-focus() {
  outline: thin dotted; // Default
  outline: 5px auto -webkit-focus-ring-color; // WebKit
  outline-offset: -2px;
}
// _reset-text.scss ============================================================
@mixin reset-text() {
  font-family: $font-family-base;
  // We deliberately do NOT reset font-size.
  font-style: normal; font-weight: normal; letter-spacing: normal;
  line-break: auto; line-height: $line-height-base;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start; text-decoration: none;  text-shadow: none;
  text-transform: none; white-space: normal;word-break: normal;
  word-spacing: normal; word-wrap: normal;
}
// _text-emphasis.scss =========================================================
//  Typography - [converter] $parent hack 
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} { color: $color; }
  a#{$parent}:hover,
  a#{$parent}:focus { color: darken($color, 10%); }
}
// _text-overflow.scss =========================================================
//  Text overflow - Requires inline-block or block for proper styling 
@mixin text-overflow() { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

